<%-include('./partials/header.ejs')            %>
<body>
    <h2>Welcome to Home Page</h2>
    <div class="d-grid gap-2 col-6 mx-auto">
    <a href="/login" class="btn btn-success">Login</a>
    <a href="/signup" class="btn btn-primary">Sign Up</a>
</div>
</body>
</html>